<!DOCTYPE html>
<html>
<head>
    <title>Sensor Data Dashboard</title>
</head>
<body>
    <h1>Temperature Data</h1>
    <div>{{ graph_temp|safe }}</div>
    <h1>Humidity Data</h1>
    <div>{{ graph_humidity|safe }}</div>
</body>
</html>
